@{
    ViewData["Title"] = "Confirmação de deleção do Produto";
}

<div class="text-center">
    <h2 class="display-4">Confirmação da deleção o estoque de Produto(Renan)?</h2>
</div>

<a role="button" asp-controller="Produto" asp-action="Consultar" class="btn btn-danger btn-block">Voltar</a>
<a role="button" asp-controller="Produto" asp-action="Apagar" class="btn btn-primary btn-block">Confirmar a exclusão</a>